body,html{
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat:no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    
}
h1{
    position:absolute;
    top:10px;
    left:20px;
    border:2px solid black;
    padding:10px;
}
.box{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    top:30%;
    left:18%;

}
p{
    height: 300px;
    width: 1200px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin:1px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 150px #0ff;
}
.btn{
    border: 2px solid black;
    padding:30px 80px 30px 80px;
    border-radius:30%;
    width: 500px;
    height:50px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 25px;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 150px #0ff;
    
}
.btn:hover{
    background-color: rgb(35, 103, 105);
    cursor: pointer;
}